<section class="gallery-section">
    <h2 class="section-title">Tábori Galéria</h2>
    <mat-grid-list cols="3" rowHeight="350px" gutterSize="16px">
      <mat-grid-tile *ngFor="let image of images">
        <mat-card class="gallery-card">
          <img mat-card-image [src]="'/' + image.path" [alt]="image.title">
          <mat-card-content>
            <h3>{{image.title}}</h3>
            <p>{{image.description}}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </section>