<!-- C:\VSCodeProjects\Webkert-nyari-tabor-foglalo\Webkert-nyari-tabor-foglalo-v12\src\app\core\components\navigation\navigation.component.html -->
<p>Válaszd ki, hogy hova szeretnél menni!</p>

<nav>
  <a routerLink="/camps" routerLinkActive="active">Táborok</a>
  <hr>
  <a routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
  <hr>
  <a routerLink="/register" routerLinkActive="active">Regisztráció</a>
  <hr>
  <a routerLink="/profile" routerLinkActive="active">Profil</a>
  <hr>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
</nav>

<!-- Signed-in User Options -->
<div *ngIf="isSignedIn" class="horizontal-group" id="signedin-user-options">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Vissza a főoldalra</a></li>
    <li><a routerLink="/camps" routerLinkActive="active">Táborok böngészése</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profilom megtekintése</a></li>
    <li><a routerLink="/logout" routerLinkActive="active">Kijelentkezés</a></li>
  </ul>
</div>

<!-- Not Signed-in User Options -->
<div *ngIf="!isSignedIn" class="horizontal-group" id="nosignin-user-options">
  <ul>
    <li><a routerLink="/camps" routerLinkActive="active">Táborok böngészése</a></li>
    <li><a routerLink="/signup" routerLinkActive="active">Regisztráció</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Bejelentkezés</a></li>
  </ul>
</div>