.camp-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

mat-card {
    padding: 24px;
    transition: transform 0.2s ease;
}

mat-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.location-manager {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}

.my-divider {
    margin-top: 32px;
    margin-bottom: 16px;
  }

.location-list {
    margin-top: 8px;
}

.my-divider {
    margin-top: 32px;
    margin-bottom: 16px;
}