<div class="not-found-container">
    <mat-card class="not-found-card">
      <mat-card-content>
        <div class="not-found-content">
          <mat-icon class="not-found-icon">error_outline</mat-icon>
          <h1>A keresett oldal nem található</h1>
          <p>Ez az oldal még nem készült el, vagy át lett helyeztve.</p>
          <button mat-raised-button color="primary" [routerLink]="['/home']" routerLinkActive="active">
            <mat-icon>home</mat-icon> Vissza a főoldalra
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>