<!-- hero.component.html -->
  <hr><hr>
  <!-- Hero Section -->
  <section class="block hero-section hero">
    <div class="hero-content">
      <h2 class="hero-title">Találd meg a tökéletes nyári élményt gyermeked számára!</h2>
      <div class="hero-buttons">
        <a routerLink="/camps" class="btn">Táborok böngészése</a>
        <a routerLink="/regisztracio" class="btn btn-primary">Regisztráció</a>
        <a routerLink="/bejelentkezes" class="btn btn-outline">Bejelentkezés</a>
      </div>
    </div>
  </section>

  <hr><hr>