/* C:\VSCodeProjects\Webkert-nyari-tabor-foglalo\Webkert-nyari-tabor-foglalo\src\styles.scss */
/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Include core styles (required)
@include mat.core();



$theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  )
));

@include mat.all-component-themes($theme);


html, body { 
     height: 100%; 
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     background-color: beige;
   }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
