<!-- create-camp.component.html -->
<div class="create-camp">
<h2>Új tábor létrehozása</h2>
<form action="process-application" method="post">
  <label for="category">Kategória</label>
    <select id="category">
      <option disabled selected>Válassz kategóriát</option>
      <option>Cserkésztábor</option>
      <option>Erdei vándortábor</option>
      <option>Erzsébet-tábor</option>
      <option>Programozás tábor</option>
      <option>Robotika tábor</option>
      <option>Matek tábor</option>
      <option>Angol tábor</option>
      <option>Német tábor</option>
      <option>Színjátszó tábor</option>
      <option>Vitorlástábor</option>
      <option>Sítábor</option>
    </select>

    <label for="location">Helyszín:</label>
    <input type="text" id="location" name="location">

    <label for="startDate">Kezdés időpontja:</label>
    <input type="date" id="startDate" name="startDate">

    <label for="endDate">Befejezés időpontja:</label>
    <input type="date" id="endDate" name="endDate">

    <label for="description">Leírás:</label>
    <textarea id="description" name="description"></textarea>

    <button type="submit">Létrehozás</button>
</form>
</div>