<!-- C:\VSCodeProjects\Webkert-nyari-tabor-foglalo4\src\app\pages\home\home.component.html -->
<div class="container">
  <h1>Üdvözlünk a Nyári Tábor Foglaló honlapján!</h1>
  <p>Itt böngészhetsz táborokat, regisztrálhatsz, vagy kezelheted a profilod.</p>
  <button mat-flat-button color="primary" class="tasks" (click)="changePage()">Jelentkezéseim megtekintése</button>

  @if (!isLoggedIn) {
  <button mat-flat-button color="accent" [routerLink]="['/login']" class="tasks">Bejelentkezés</button>
  }

  @if (isLoggedIn) {
  <button mat-flat-button color="accent" [routerLink]="['/profile']" class="tasks">Profilom</button>
  }
</div>
<section class="recommended-camps">
  <h2 class="section-title">Ajánlott táborok</h2>
  <div class="camp-cards">
    <div class="camp-card">
      <div class="camp-icon">🏕️</div>
      <h3>Cserkésztábor</h3>
      <p class="urgent">Már csak 2 napig lehet jelentkezni!</p>
    </div>
    
    <div class="camp-card">
      <div class="camp-icon">⛵</div>
      <h3>Vitorlástábor</h3>
      <p>A Balaton-parti piarista szállóban!</p>
    </div>
    
    <div class="camp-card">
      <div class="camp-icon">⛷️</div>
      <h3>Sítábor</h3>
      <p class="price">69 990 Ft</p>
      <p>Helyszín: Magas-Tátra</p>
    </div>
    
    <div class="camp-card">
      <div class="camp-icon">🌲</div>
      <h3>Erzsébettábor</h3>
      <p>Helyszínek: Zánka, Fonyódliget, Zalaszabar, Madarasi Hargita</p>
    </div>
  </div>
</section>

<section class="gallery-section large-margin-green">
  <app-gallery></app-gallery>
</section>

<section class="footer-section">
  <app-footer></app-footer>
</section>